.data-cell{
    border: #473b3b solid 4px;
    width: 50px;


}

.black{
    background-color: black;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.red {
    background-color: red;
}


tr{
    height: 45px;
}

.table {
    border-collapse: collapse;
    border: #473b3b solid 10px;
}